*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.contact-parent{
    display:flex;
    margin:80px 0;
}

.contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("image/IMG_8546.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}

.child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
}

.child1 p span{
    font-size:16px;
    color:#9df2fd;
}

.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.inside-contact{
    width:90%;
    margin:0 auto;
}

.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
}

.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
}

.inside-contact input[type=submit]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:2px solid #000;
    margin:30px 0;
}

.inside-contact input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}

@media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }

    .child1{
        display:none;
    }

    .child2{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("image/IMG_8546.jpg");
        background-size:cover;
    }

    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }
}
.alert{
    width: 100%;
    background: rgb(71, 71, 71);
    padding: 10px 20px;
    border-radius: 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: #000;
   display: none;
}

/*Start Global*/
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 12px;
  }
  body.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img {
    max-width: 100%;
  }
  h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    font-weight: normal;
    margin: 0 0 -55px;
  }
  h1, h3 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 9.4px;
    margin: 0 0 15px;
  }
  p {
    color: #515151;
    line-height: 27px;
  }
  .a-CTA {
    border-bottom: 2px solid #a96700;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
  }
  /*End Global*/
  
  /*Start Mutual*/
  p, .a-CTA, input, header .navigation-bar a, .copyright li, .contact .form form label, .contact .form form button {
    font-family: Cabin, sans-serif;
  }
  .fa-asterisk, .a-CTA, h2, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
    color: #a96700;
  }
  header nav .navigation-bar .underline, header .text .button button:hover, .contact .form form button:hover, .contact .text i:hover {
    background-color: #a96700;
  }
  header .navigation-bar ul li, header .text, .about-us .text, .reservation .text, .menu .box-model, .menu .text, .fixed-image .text, footer, .copyright, .contact .text i {
    text-align: center;
  }
  header nav, header .navigation-bar ul, .about-us, .reservation, .about-us .image-container, .reservation .image-container, .menu, .menu .menu-image-container, footer .contact-container, .copyright ul, .contact {
    display: flex;
  }
  header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .menu .box-model .close, footer .social-media .links a, .copyright .CTA li a {
    transition: .3s;
  }
  header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .recipes, .menu .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
    position: relative;
  }
  header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .recipes .text, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .box-image-container .box-image, .copyright .svg-up {
    position: absolute;
  }
  .recipes .text, .fixed-image .text, .menu .box-image-container, .menu .box-image-container .box-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .menu .box-model, .menu .box-image-container, .menu .box-image-container .box-image {
    width: 100%;
  }
  button, .dots > div, header nav .toggle, header .arrow-down, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .menu-image-container .image img, footer .newsletter i, .copyright .arrow-up {
    cursor: pointer;
  }
  .dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
    background-color: #fff;
  }
  h1, h3, header .navigation-bar a, header .text span, .menu .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
    color: #fff;
  }
  header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .menu .box-model, .copyright .arrow-up {
    left: 0;
  }
  header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
    display: inline-block;
  }
  /*End Mutual*/
  
  /*Start Home Page*/
  
  /*Start Header*/
  header {
    height: 100px;
    background-position: fixed;
    color: #000;
    background-color:#515151;
  }
  header nav {
    position: fixed;
    top: 0;
    padding: 36px 36px 20px 20px;
    z-index: 20;
  }
  header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 21;
  }
  header nav .toggle:focus {
    outline: none;
  }
  header nav.active .toggle span {
    background-color: #000;
  }
  header nav .toggle.active {
    left: 32%;
  }
  header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
  }
  header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
  }
  header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
  }
  header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
  }
  header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
  }
  header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;
  }
  header .navigation-bar.show {
    width: 40%;
  }
  header .navigation-bar.show a {
    color: #000 !important;
  }
  header .navigation-bar.show a:hover {
    color: #000 !important;
  }
  header .navigation-bar ul li {
    flex: 1;
    padding: 0 10px;
  }
  header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
  }
  header nav.active .navigation-bar a {
    color: #000;
  }
  header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
  }
  header .text {
    top: 24%;
  }
  header .text h1 {
    margin-bottom: 0;
  }
  header .text .arrow .left, header .text .arrow .right {
    height: 3px;
    width: 100px;
  }
  header .text .arrow .left {
    left: -4%;
  }
  header .text .arrow .right {
    right: -4%;
  }
  header .text .arrow .left:after, header .text .arrow .right:after {
    content: '';
    border: 10px solid transparent;
    border-left-color: #000;
    top: -8px;
  }
  header .text .arrow .right:after {
    right: 0;
    border-color: transparent #000 transparent transparent;
  }
  header .text .arrow .fa-asterisk {
    vertical-align: super;
  }
  header .text span {
    font-family: "Source Code Pro", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
  }
  header .text .button button, .contact form button {
    border: none;
    padding: 9px 18px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-family: source_sans_problack, sans-serif;
    border-radius: 3px;
  }
  header .text .button button, .contact form button:focus {
    outline: none;
  }
  header .svg-down {
    bottom: 0;
    left: 50%;
    z-index: 5;
    margin-left: -96px;
    margin-bottom: -12px;
    color: #fff;
  }
  header .arrow-down {
    width: 70px;
    height: 50px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
  }
  /*End Header*/
  
  /*Start Footer*/
  footer {
    background-color: #121212;
    padding: 60px 20px;
  }
  footer .text {
    max-width: 500px;
    margin: auto;
  }
  footer .text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    letter-spacing: 1.9px;
    margin-bottom: 25px;
  }
  footer .text .fa-asterisk {
    font-size: 12px;
  }
  footer .text p {
    line-height: 27px;
  }
  footer .contact-container {
    padding: 40px 0;
    max-width: 1000px;
    margin: auto;
  }
  footer .contact-container > div {
    flex: 1;
  }
  footer .contact-container h3 {
    font-size: 19px;
    letter-spacing: 1.9px;
  }
  footer .social-media .links a {
    margin: 0 10px;
    font-size: 25px;
  }
  footer .newsletter input {
    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: none;
    margin-left: -15px;
  }
  footer .newsletter i {
    margin-left: -40px;
    vertical-align: middle;
    font-size: 21px;
  }
  .copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
  }
  .copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
  }
  .copyright .arrow-up {
    width: 40px;
    height: 30px;
    top: -45px;
    color: #fff;
    line-height: 1.9
  }
  .copyright ul {
    justify-content: center;
  }
  .copyright li {
    color: #919191;
    font-size: 14px;
  }
  .copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
  }
  .copyright .CTA {
    margin-top: 25px;
  }
  .copyright .CTA li a {
    color: #919191;
  }
  
  /*End Footer*/
  
  /*Start Home Page Responsive*/
  
  @media (max-width: 1200px) {
    .menu, .about-us, .reservation {
        padding: 60px 40px;
    }
    .about-us .text, .reservation .text {
        padding: 0 32px 0 0;
    }
    .about-us .image-container, .reservation .image-container {
        align-items: center;
    }
    .menu .text {
        padding: 0 0 0 32px;
    }
  }
  
  @media (max-width: 992px) {
    body {
        padding: 0;
    }
    .dots {
        display: none;
    }
    header {
        height: calc(100vh - 10px);
    }
    header nav .logo {
        padding-left: 0;
    }
    .about-us {
        display: block;
        padding-top: 50px;
    }
    .about-us .text , .reservation .text {
        padding: 0 0 40px;
    }
    .about-us .image-container .image1, .reservation .image-container .image1 {
        margin-left: 0;
    }
    .menu {
        display: block;
        padding: 60px 20px 60px 40px;
    }
    .menu .text {
        padding: 20px 20px 0 0;
    }
    .reservation {
        display: block;
        padding: 30px 20px 60px;
    }
    .contact {
        display: block;
        padding: 78px 20px;
    }
    .contact .form {
        margin-left: 0;
        margin-top: 40px;
    }
  }
  
  @media (max-width: 768px) {
    header nav {
        display: block;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 25px;
    }
    header nav .toggle {
        display: block;
    }
    header .navigation-bar {
        position: fixed;
        top: 0;
        left: -174px;
        height: 100%;
        background-color: #262526;
        overflow: hidden;
        z-index: 20;
        padding: 40px;
    }
    header .navigation-bar ul {
        display: block;
        padding-top: 40px;
    }
    header .navigation-bar ul li {
        text-align: left;
        padding: 14px 0;
    }
    footer .contact-container {
        display: block;
    }
    footer .social-media {
        margin-bottom: 40px;
    }
    .copyright ul {
        display: block;
        margin-top: -20px;
    }
    .copyright li {
        margin-bottom: 5px;
    }
    .copyright li:not(:last-of-type):after {
        content: '';
    }
  
  }
  
  @media (max-width: 576px) {
    h3, h1 {
        font-size: 40px;
    }
    h2 {
        font-size:90px
    }
    header {
        padding: 0;
    }
    header nav .logo {
        padding-left: 0;
    }
    header nav .toggle.active {
        left: 36%;
    }
    header .navigation-bar.show {
        padding: 20px;
        width: 48%;
    }
    .about-us, .reservation {
        padding: 60px 20px;
    }
    .menu {
        padding: 60px 0 60px 20px;
    }
  }
  